<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<title>[% siteName %]: [% title %]</title>
[% IF siteBase %]
  <base href="[% siteBase %]" />
[% END %]
[% IF cssFile %]
<link rel="stylesheet" href="[% cssFile %]" />
[% END %]
</head>
<body>
[% IF titleUrl %]
<h1><a href="[% titleUrl %]">[% title %]</a></h1>
[% ELSE %]
<h1>[% title %]</h1>
[% END %]

[% INCLUDE common/navbar.tt %]
