<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<title>[% siteName %]: [% title %]</title>
<link rel="stylesheet" href="/purplewiki.css" />
</head>

<body>

<div id="header">
<table width="100%" border="0">
  <tr valign="bottom">
    <td align="left">
<h1>[% title %]</h1>
    </td>
    <td align="right">
[% INCLUDE common/navbar.tt %]
    </td>
  </tr>
</table>
</div>

<div id="body">
[% IF visitedPages.size > 0 %]
<div id="sidebar">
<h3>Visited Pages</h3>

<ul>
  [% FOREACH page = visitedPages %]
  <li><a href="[% baseUrl %]?[% page.id %]">[% page.pageName %]</a></li>
  [% END %]
</ul>
</div>
[% END %]

[% IF titleUrl %]
<div id="sidebar">
<h3><a href="[% titleUrl %]">View Backlinks</a></h3>
</div>
[% END %]

<div id="sidebar">
[% INCLUDE common/searchbar.tt %]
</div>

