<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>[% siteName %]: 
[% IF expandedPageName %]
[% expandedPageName %]
[% ELSIF pageName %]
[% pageName %]
[% ELSE %]
[% title %]
[% END %]
</title>
<link rel="stylesheet" href="/purplewiki.css" />
</head>

<body>

<div id="header">
<table width="100%" border="0">
  <tr valign="bottom">
    <td align="left">
<h1>[% title %]</h1>
    </td>
    <td align="right">
[% INCLUDE common/navbar.tt %]
    </td>
  </tr>
</table>
</div>

<div id="body">
