<div class="navbar">
<a href="[% baseUrl %]?[% homePage %]">[% homePage %]</a> |
<a href="[% baseUrl %]?RecentChanges">RecentChanges</a> |
<a href="[% baseUrl %]?action=index">Page Index</a> |
<a href="[% preferencesUrl %]">Preferences</a>
</div>
