body {
    background-color: #FFF;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11pt;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50em;
}

table {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11pt;
}

#header {
    border-bottom: #000 1px solid;
    padding-bottom: 4px;
}

#body {
    padding-top: 10px;
}

#body #sidebar {
    clear: both;
    float: right;
    width: 23%;
    padding-left: 4px;
    margin-left: 4px;
    margin-bottom: 10px;
    background: #EEE;
    border: #000 1px solid;
}

#footer {
    clear: both;
    border-top: #000 1px solid;
    padding-top: 4px;
}

#footleft {
    float: left;
    width: 75%;
}

#footright {
    float: right;
}

div.indent {
    margin-left: 3em;
}

a.nid {
    font-family: "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: x-small;
    text-decoration: none;
    color: #C8A8FF;  /* light purple */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Places NIDs in parentheses.  Internet Explorer currently does not
   support these CSS elements, hence this functionality is built into
   the wikihtml.pm View driver for now and is commented out here.

a.nid:before {
    content: "(";
}

a.nid:after {
    content: ")";
}
*/

a.extlink {
    border-width: 1px;
    border-style: none none dotted none;
}

.poweredby {
    font-family: verdana, sans-serif;
    font-size: 10px;
    font-weight:bold;
    text-decoration:none;
    color: white;
    background-color: #8700FF;
/*    border-left:1px solid #3C6;
    border-top:1px solid #3C6; */
    border-right:1px solid #063;
    border-bottom:1px solid #063;
    padding:0px 3px 0px 3px;
}
