body {
    background-color: #FFF;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11pt;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 50em;
    font-family: Verdana, Trebuchet, Arial, Helvetica;
    sans-serif;
    color: #000000;
    background-color: #ffffff;
}

table {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11pt;
}

#header {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11pt;
}

#header .left {
    float: left;
    width: 75%;
}

#header .right {
    float: right;
}

#menubar {
    clear: both;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11pt;
}

#menubar .left {
    float: left;
    width: 50%;
    padding-bottom: 4px;
}

#menubar .right {
    float: right;
    padding-bottom: 4px;
}

#main {
    border-top: #000 1px solid;
    clear: both;
}

#body {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11pt;
    float: left;
    width: 80%;
    padding-top: 10px;
}

#sidebar {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 9pt;
    float: right;
    width: 19%;
    padding-top: 10px;
}

#sidebar .box {
    background: #EEE;
    border: #000 1px solid;
    padding-left: 4px;
    margin-bottom: 10px;
}

#footer {
    clear: both;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11pt;
    border-top: #000 1px solid;
    padding-top: 4px;
}

#footer .left {
    float: left;
    width: 75%;
}

#footer .right {
    float: right;
    text-align: right;
}

tt, pre {
    font-size: 10pt;
}

div.indent {
    margin-left: 3em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Places NIDs in parentheses.  Internet Explorer currently does not
   support these CSS elements, hence this functionality is built into
   the wikihtml.pm View driver for now and is commented out here.

a.nid:before {
    content: "(";
}

a.nid:after {
    content: ")";
}
*/

a.nid {
    font-family: Verdana, Trebuchet, Arial, Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: x-small;
    text-decoration: none;
    color: #C8A8FF;  /* light purple */
}

a.extlink {
    border-width: 1px;
    border-style: none none dotted none;
}

.poweredby {
    font-family: verdana, sans-serif;
    font-size: 10px;
    font-weight:bold;
    text-decoration:none;
    color: white;
    background-color: #8700FF;
/*    border-left:1px solid #3C6;
    border-top:1px solid #3C6; */
    border-right:1px solid #063;
    border-bottom:1px solid #063;
    padding:0px 3px 0px 3px;
}

.syndicate {
    font-family: verdana, sans-serif;
    font-size: 10px;
    font-weight:bold;
    text-decoration:none;
    color: white;
    background-color: #FF6600;
    border-right:1px solid #063;
    border-bottom:1px solid #063;
    padding:0px 3px 0px 3px;
}
