[% IF userName %]
[% userName %] |
<a href="[% baseUrl %]?action=logout">Logout</a>
[% ELSE %]
<form method="GET" action="[% baseUrl %]">
i-name:
<input type="hidden" name="fromPage" value="[% id %]" />
<input type="text" name="xri_iname" size="20" />
</form>
[% END %]
