<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>[% siteName %]: Login</title>
[% IF siteBase %]
  <base href="[% siteBase %]" />
[% END %]
[% IF cssFile %]
<link rel="stylesheet" href="[% cssFile %]" />
[% END %]
</head>
<body>
<h1>Login</h1>

<div><a href="[% baseUrl %]?[% homePage %]">[% homePage %]</a> |
<a href="[% baseUrl %]?RecentChanges">RecentChanges</a> |
<a href="[% baseUrl %]?action=index">Page Index</a> |
<a href="[% preferencesUrl %]">Preferences</a></div>

<hr />

<form method="POST" action="[% baseUrl %]" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="enter_login" value="1" />
<p>User ID number: <input type="text" name="p_userid"  size="15" maxlength="50" /><br />
Password: <input type="password" name="p_password"  size="15" maxlength="50" /><br />
<input type="submit" name="Login" value="Login" /></p>
</form>

<hr />

<div>
<form method="GET" action="[% baseUrl %]" enctype="application/x-www-form-urlencoded">
Search:
<input type="text" name="search"  size="20" />
<input type="hidden" name="dosearch" value="1" />
</form>
</div>

</body>
</html>
