[% INCLUDE common/header.tt
           title = "Index of all pages"
%]

[% INCLUDE common/navbar.tt %]

<hr />

<h2>[% pages.size %] pages found:</h2>

<p>
[% FOREACH pageName = pages %]
<a href="[% baseUrl %]?[% pageName %]">[% pageName %]</a><br />
[% END %]
</p>

<hr />

[% INCLUDE common/searchbar.tt %]

[% INCLUDE common/footer.tt %]
