[% INCLUDE common/header.tt
           title = "Removing edit lock"
%]

<p>This operation may take several seconds...'</p>

[% IF forcedUnlock %]
<h2>Forced Unlock</h2>
[% ELSE %]
<h2>Normal Unlock</h2>
[% END %]

[% INCLUDE common/footer.tt %]
