<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>[% siteName %]: Removing edit lock</title>
[% IF siteBase %]
  <base href="[% siteBase %]" />
[% END %]
[% IF cssFile %]
<link rel="stylesheet" href="[% cssFile %]" />
[% END %]
</head>
<body>
<h1>Removing edit lock</h1>

<div><a href="[% baseUrl %]?[% homePage %]">[% homePage %]</a> |
<a href="[% baseUrl %]?RecentChanges">RecentChanges</a> |
<a href="[% baseUrl %]?action=index">Page Index</a> |
<a href="[% preferencesUrl %]">Preferences</a></div>

<hr />

<p>This operation may take several seconds...'</p>

[% IF forcedUnlock %]
<h2>Forced Unlock</h2>
[% ELSE %]
<h2>Normal Unlock</h2>
[% END %]

<hr />

<div>
<form method="GET" action="[% baseUrl %]" enctype="application/x-www-form-urlencoded">
Search:
<input type="text" name="search"  size="20" />
<input type="hidden" name="dosearch" value="1" />
</form>
</div>

</body>
</html>
